{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<p>
Team members:
<a href="https://www.linkedin.com/in/amber-chen-7b8816b0/">Amber Chen</a>
<a href="https://www.linkedin.com/in/amit-singh-0556a044/">Amit Singh</a>
<a href="https://www.linkedin.com/in/david-liau-090ba0a5/">David Liau</a>
<a href="https://www.linkedin.com/in/edwardllin/">Edward Lin</a>
<a href="#">Ernie Hwuan</a>
<a href="https://www.linkedin.com/in/yangger/">Ger Yang</a>
<a href="https://www.linkedin.com/in/yu-chia-wu-36b767a2/">Yu Chia Wu</a>
</p>

<script type="text/javascript">
  $(document).ready(function () {
    $(".item").removeClass("active");//this will remove the active class from previously active menu item
    $('#aboutUs').addClass('active');
  });
</script>
{% endblock %}
