<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %}{% endblock %} - ATX Hack the Traffic</title>
    {% endblock %}
  </head>
  <body>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/problemStatement">Problem Statement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/travelTimePrediction">Travel Time Prediction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/historyStats">History Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutUs">About Us</a>
        </li>
      </ul>
    </div>
    <div id="content" style="height:100%; width:100%;">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2017 by <a href="#">you</a>.
      {% endblock %}
    </div>
  </body>
</html>
