<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Semantic-UI/semantic.min.css')}}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} - ATX Hack the Traffic</title>
    {% block head %}
    {% endblock %}
  </head>


  <body>
    <div class="ui five item menu" style="margin-top: 0px">
      <div class="ui container">
        <a class="header item" href="/" id="index">ATX Hack the Traffic</a>
        <a class="item" href="/travelTimePrediction" id="travelTimePrediction">Travel Time Prediction</a>
        <a class="item" href="/historyStats" id="historyStats">History Stats</a>
        <a class="item" href="/heatmap" id="heatmap">Heat Map</a>
        <a class="item" href="/aboutUs" id="aboutUs">About Us</a>
      </div>
    </div>

    <div class="ui container">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript">
    $(function() {
      $('.ui.dropdown')
      .dropdown()
      ;
    });


    </script>


    <script src="{{url_for('static', filename='Semantic-UI/semantic.min.js')}}"></script>
  </body>
</html>
