{% extends "base.html" %}
{% block title %} History Stats -{% endblock %}
{% block head %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    /*position:relative;*/
    height: 700px;
    width: auto;
    /*margin: auto;*/
  }
</style>
{% endblock %}


{% block content %}
  <div class="ui two column grid">
    <div class="thirteen wide column">
      <div id="map"></div>
    </div>

    <div class="three wide column">
      <form class="ui form" action="/historyStats" method="GET">
          <div class="field">
            <label for="start_time">Select Time:</label>
            <select class="ui dropdown" name="time">
              {% for startTime in timeList %}
                {% if start_time and loop.index == start_time %}
                  <option value='{{loop.index}}' selected="selected">{{startTime}}</option>
                {% else %}
                  <option value='{{loop.index}}'>{{startTime}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="field">
            <label for="weekday_input">Select Weekday:</label>
            <select class="ui dropdown" name="weekday" id="weekday_input">
              {% for _weekday in weekdayList %}
                {% if weekday and loop.index0 == weekday %}
                  <option value='{{loop.index0}}' selected="selected">{{_weekday}}</option>
                {% else %}
                  <option value='{{loop.index0}}'>{{_weekday}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <input type="submit" class="ui primary button" value="Get History Stats">

      </form>
    </div>
  </div>


  <script>
    $(document).ready(function () {
      $(".item").removeClass("active");//this will remove the active class from previously active menu item
      $('#historyStats').addClass('active');
    });
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 30.2672, lng: -97.7431},
        mapTypeId: 'roadmap'
      });

      var traffic_data_length = {{traffic_list|length}};
      var trafficDataCoordinates = [traffic_data_length];
      var trafficDataColor = [traffic_data_length];

      {% for traffic_data in traffic_list %}

      trafficDataCoordinates[{{loop.index0}}] = [
        {
          lat: {{traffic_data.origin.LATITUDE}},
          lng: {{traffic_data.origin.LONGITUDE}}
        },
        {
          lat: {{traffic_data.destination.LATITUDE}},
          lng: {{traffic_data.destination.LONGITUDE}}
        }
      ];

      var avg_time = {{traffic_data.Avg_Travel_Time}};
      if (avg_time > 200) {
        trafficDataColor[{{loop.index0}}] = '#FF0000';
      } else if (avg_time < 200 && avg_time > 100) {
        trafficDataColor[{{loop.index0}}] = '#FF9900';
      } else {
        trafficDataColor[{{loop.index0}}] = '#33CC33';
      }

      {% endfor %}

      for (var i = 0; i < traffic_data_length; ++i) {
        var flightPath = new google.maps.Polyline({
          path: trafficDataCoordinates[i],
          geodesic: true,
          strokeColor: trafficDataColor[i],
          strokeOpacity: 1.0,
          strokeWeight: 2,
          map: map
        });
      }
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7twsePKQ3XBR62UaoY1DiROnh_Fxf5CA&callback=initMap">
  </script>
{% endblock %}
