{% extends "base.html" %}

{% block head %}
<style>
#cover {
  margin: auto;
}
#footer {
   position:absolute;
   bottom:0;
}
</style>
{% endblock %}

{% block content %}
<div class='ui text container'>

  <div class = 'row'>
    <h2>Goal of the Project:</h2>

    <h4>Travel Time Prediction:</h4>
      Using historical bluetooth travel time data (2014 to 2016) to predict the travel time.

    <h4>Corridor Analysis:</h4>
      Using historical bluetooth travel time data to see how the congestion grows in the corridor

    <h4>Team members:</h4>
      <a href="https://www.linkedin.com/in/amber-chen-7b8816b0/">Amber Chen</a>,
      <a href="https://www.linkedin.com/in/amit-singh-0556a044/">Amit Singh</a>,
      <a href="https://www.linkedin.com/in/david-liau-090ba0a5/">David Liau</a>,
      <a href="https://www.linkedin.com/in/edwardllin/">Edward Lin</a>,
      <a href="#">Ernie Hwuan</a>,
      <a href="https://www.linkedin.com/in/yangger/">Ger Yang</a>,
      <a href="https://www.linkedin.com/in/yu-chia-wu-36b767a2/">Yu Chia Wu</a>

  </div>
  <img class="ui small image" id='cover' src={{ url_for('static', filename='Pic/Cover.jpg') }} alt="Mountain View" style="width:600px;height:400px;">
</div>

<script type="text/javascript">
$(document).ready(function () {
  $(".item").removeClass("active");//this will remove the active class from previously active menu item
  $('#index').addClass('active');
});
</script>
{% endblock %}
