{% extends "base.html" %}

{% block head %}
<style>
#cover {
  margin: auto;
}
#footer {
   position:absolute;
   bottom:0;
}
</style>
{% endblock %}

{% block content %}
<div class='ui text container'>
  <img id='cover' src={{ url_for('static', filename='Pic/Cover.jpg') }} alt="Mountain View" style="width:600px;height:400px;">
  <div class = 'row'>
    <h2>Goal of the Project:</h2>

    <h4>Travel Time Prediction:</h4>
      Using historical bluetooth travel time data (2014 to 2016) to predict the travel time.

    <h4>Corridor Analysis:</h4>
      Using historical bluetooth travel time data to see how the congestion grows in the corridor

  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $(".item").removeClass("active");//this will remove the active class from previously active menu item
  $('#index').addClass('active');
});
</script>
{% endblock %}
