{% extends "base.html" %}
{% block title %}Problem Statement{% endblock %}
{%block head%}
<style>
#cover {
  margin: auto;
}
#footer {
   position:absolute;
   bottom:0;
}
</style>
{% endblock %}

{% block content %}
<div class='container'>
  <img id='cover' src={{ url_for('static', filename='Pic/Cover.jpg') }} alt="Mountain View" style="width:304px;height:228px;">
  <div class = 'row'>
    <h2>Goal of the Project:</h2>
    <div class = 'col-4'>
    <h4>Travel Time Prediction:</h4>
      Using historical bluetooth travel time data (2014 to 2016) to predict the travel time.
    </div>
    <div class = 'col-4'>
    <h4>Corridor Analysis:</h4>
      Using historical bluetooth travel time data to see how the congestion grows in the corridor
    </div>
  </div>
</div>
{% endblock %}
