{% extends "base.html" %}
{% block title %}Travel Time Prediction{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock %}
{% block content %}
<!-- <h1>ATX Hack the Traffic</h1> -->
<div class='container'>
  <div class="row">
    <div class="form-group">
      <label for="origin">Select list:</label>
        <select class="form-control" name="origin" onchange="my_func(this)">
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
        </select>
    </div>
  </div>
  <div class='row'>
    <div class="form-group">
      <label for="destination">Select list:</label>
      <select class="form-control" name="destination" >
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
        <option value='4'>4</option>
      </select>
    </div>
  </div>
</div>
<script>
var $origin = $("select[name='origin']");
var $destination = $("select[name='destination']");
console.log("outside");
function my_func(selectObj) {
    $destination.find('option').prop("disabled", false);
    var selectedItem = selectObj.value;
    if (selectedItem) {
        $destination.find('option[value="' + selectedItem + '"]').prop("disabled", true);
    }
};
</script>

<div id="map"></div>
<script>
  // This example creates a 2-pixel-wide red polyline showing the path of William
  // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
  // Brisbane, Australia.

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: {lat: 0, lng: -180},
      mapTypeId: 'terrain'
    });

    var flightPlanCoordinates = [
      {lat: 37.772, lng: -122.214},
      {lat: 21.291, lng: -157.821},
      {lat: -18.142, lng: 178.431},
      {lat: -27.467, lng: 153.027}
    ];
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    flightPath.setMap(map);
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7twsePKQ3XBR62UaoY1DiROnh_Fxf5CA&callback=initMap">
</script>
{% endblock %}
