{% extends "base.html" %}
{% block title %}Travel Time Prediction{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    position:relative;
    height: 600px;
    width: 700px;
    margin: auto;

  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock %}
{% block content %}
<!-- <h1>ATX Hack the Traffic</h1> -->
<div class="container">
  <form action="/travelTimePrediction" method="POST">
  <div class="row">
    <div class="form-group" id='origin_point'>
      <label for="origin">Select Origin:</label>
      <select class="form-control" name="origin" onchange="origin_chg(this)">
        {% for sensor in travelSensors %}
        <option value='{{sensor.READER_ID}}'>{{sensor.READER_ID}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group" id='destination_point'>
      <label for="destination">Select Destination:</label>
      <select class="form-control" name="destination" onchange="dest_chg(this)">
        {% for sensor in travelSensors %}
        {% if loop.index == 1 %}
          <option value='{{sensor.READER_ID}}' disabled>{{sensor.READER_ID}}</option>
        {% else %}
          <option value='{{sensor.READER_ID}}'>{{sensor.READER_ID}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="start_time">Select Start Time:</label>
      <select class="form-control" name="start_time">
        {% for startTime in startTimeList %}
          <option value='{{loop.index}}'>{{startTime}}</option>
        {% endfor %}
      </select>

    </div>
    <input type="submit" class="btn btn-success" value="Estimate">
  </div>

  </form>

  <div class="row">
    {% if time_pre %}
      <!-- {{time_pre.route}}
      {{time_pre['coord']}} -->
      Estimate time: {{ time_pre.time / 60 }} (minutes)
    {% endif %}
  </div>

  <script>
  var $origin = $("select[name='origin']");
  var $destination = $("select[name='destination']");
  function origin_chg(selectObj_o) {
      $destination.find('option').prop("disabled", false);
      var selectedItem = selectObj_o.value;
      if (selectedItem) {
          $destination.find('option[value="' + selectedItem + '"]').prop("disabled", true);
      };
    }
  function dest_chg(selectObj_d) {
      $origin.find('option').prop("disabled", false);
      var selectedItem = selectObj_d.value;
      if (selectedItem) {
          $origin.find('option[value="' + selectedItem + '"]').prop("disabled", true);
      };
    };
  </script>

  <div class="row">
    <div id="map" style="margin-top: 10px"></div>
  </div>
</div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: {lat: 30.2672, lng: -97.7431},
      mapTypeId: 'roadmap'
    });
    {% if time_pre %}
    index = {{ time_pre['coord']|length }};
    console.log('index = ' + index);
    console.log({{time_pre['coord'][0][1]}});
    {% endif %}

    var flightPlanCoordinates = [
    {% if time_pre %}
        {% for route in time_pre['coord'] %}
            {% if loop.index0 < loop.length - 1 %}
                {
                    lat: {{time_pre['coord'][loop.index0][0]}},
                    lng: {{time_pre['coord'][loop.index0][1]}}
                },
            {% else %}
                {
                    lat: {{time_pre['coord'][loop.index0][0]}},
                    lng: {{time_pre['coord'][loop.index0][1]}}
                }
            {% endif %}
        {% endfor %}
    {% endif %}

    ];
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    flightPath.setMap(map);
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7twsePKQ3XBR62UaoY1DiROnh_Fxf5CA&callback=initMap">
</script>
{% endblock %}
